table {
    width: 100%;
    border: 1px;
 }


 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #fd0000;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
  }
   
  .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
   
  .button:after {
   
  content: '\00bb'; 
   
  position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
   
  .button:hover{
    padding-right: 25px;
  }
   
  .button:hover:after {
    opacity: 1;
    right: 0;
  }
  