<div>
  <h1>Asignaturas</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let asignatura of asignaturas" 
    (opened)="cargarEstudiantes(asignatura.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{asignatura.nombre}}
        </mat-panel-title>
        <mat-panel-description>
          {{asignatura.curso.grado}} - {{asignatura.curso.salon}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      Estudiantes
      <ul>
        <li *ngFor="let estudiante of asignatura.estudiantes">
          {{estudiante.nombre}}
        </li>
      </ul>
      
    </mat-expansion-panel>
  </mat-accordion>

</div>
<div>
<input class="button" onclick="history.back()" value="Regresar">
</div>
