table {
    width: 100%;
  
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
   
 }


 .card {
    width: 300px;
    height: 100px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

h1{
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
}