
<div class="card">
    <img class="card-img-top" src="https://ceauto.edu.co/wp-content/uploads/2019/10/logo3.png" alt=card-body>
   </div>



<div>
    <div class="titulo">
        <h1>Lista de Profesores</h1>
    </div>


<div class="mat-elevation-z8">
    <table>
        <thead>
            <tr>

                <th mat-header-cell>Nombre</th>
                <th mat-header-cell>Asignaturas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profesor of profesores">
                <td>{{profesor.nombre}}</td>
                <td><a routerLink="/profesor/{{profesor.id}}/asignaturas">Ver</a></td>
            </tr>
        </tbody>
    </table>    
</div>
</div>
<!-- Name Column -->
